#divfruit{
    width: 23%;
    height: 450px;
    border: #c5ead9 2px solid;
    margin: 100px 0px 0px 39%;
}
body{
    background-color: rgb(109, 194, 167);
}
#red{
    position: absolute;
    width: 46px;
    height: 46px;
    border: solid 1px red;
    border-radius: 76px;
    text-align: center;
    z-index: 23;
    color: white;
    background-color: red;
    line-height: 2.3;
    font-size: 21px;
    margin-top: 5px;
    margin-left: 2%;
}
#p1{
    font-weight: bold;
    position: absolute;
    font-size: 18px;
    color: #04a45c;
    margin: 50px 0px 0px 10%;
}
#p2{
    font-weight: bold;
    position: absolute;
    font-size: 18px;
    color: #04a45c;
    margin: 80px 0px 0px 8.5%;
}
#berry{
    margin: 20px;
}
#but1{
    width: 33px;
    height: 31px;
    position: relative;
    bottom: 23px;
    left: 25.9%;
    background: #f2f2f2;
    border-radius: 4px;
    border: 1px solid #04a45c;
    display: inline-block;
    text-align: center;
    outline: none;
    cursor: pointer;
}
#but2{
    width: 33px;
    height: 31px;
    position: relative;
    bottom: 20px;
    left: 25.9%;
    background: #f2f2f2;
    border-radius: 4px;
    border: 1px solid #04a45c;
    display: inline-block;
    text-align: center;
    outline: none;
    cursor: pointer;
}
#but3{
    width: 33px;
    height: 31px;
    position: relative;
    bottom: 85px;
    left: 65.9%;
    background: #f2f2f2;
    border-radius: 4px;
    border: 1px solid #04a45c;
    display: inline-block;
    text-align: center;
    outline: none;
    cursor: pointer;
}
#but4{
    width: 33px;
    height: 31px;
    position: relative;
    bottom: 88px;
    left: 65.9%;
    background: #f2f2f2;
    border-radius: 4px;
    border: 1px solid #04a45c;
    display: inline-block;
    text-align: center;
    outline: none;
    cursor: pointer;
}
#gin{
    position: absolute;
    width: 65px;
    text-align: center;
    height: 66px;
    font-weight: bold;
    font-size: 30px;
    border-radius: 4px;
    color: #04a45c;
    border: solid 1px #04a45c;
    outline: none;
    margin: -88px 0px 0px 9%;
    overflow: hidden;
}
#kg{
    position: absolute;
    top: 400px;
    left: 57%;
    color: #04a45c;
    font-weight: bold;
}
#gr{
    position: absolute;
    top: 430px;
    left: 57%;
    color: #04a45c;
    font-weight: bold;
}
#dram{
    color: #04a45c;
    font-weight: bold;
    font-size: 30px;
    position: relative;
    bottom: 38px;
    left: 28.5%; 
}
.fa-shopping-cart{
    font-size: 25px;
    margin-top: -40px;
    margin-left: 49.2%;
    color: #04a45c;
    cursor: pointer;
    position: absolute;
}
